/*!Estilos CSS */

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.headerpelicula {
  background-image: url("../imagenes/Fondo.jpg");
  background-position: center;
  background-size: cover;  
  width:100%;
  color: white;
}
